html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-size: 4rem;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  text-align: left;
  display: inline;
  font-weight: bold;
  line-height: 1.41;
}

p {
  font-size: 2rem;
  color: black;
  text-align: left;
  font-style: italic;
  margin: 1rem 0 1.34rem;
}

.banner {
  max-width: 50em;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 0 1.34rem;
}

.img-flex {
  display: block;
  width: 100%;
}

section {
  overflow: hidden;
  position: relative;
  max-height: 500px;
}
